body {
    background-color: black;
    color: #fff;
    height: 100vh;
    display: flex;
    align-items: center; 
    justify-content: space-between;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1px;
    overflow-x: hidden;
}

button {
    background-color: #000;
    color: #fff;
    border: none;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1px;
}

/* top nav bar */

nav {
    display: flex;
    justify-content: space-between;
    width: 90%;
    height: 4em;
    margin: .75em;
}

.expand-button {
  text-transform: uppercase;
  font-size: .75em;
}

.nav-checkout-div {
  display: flex;
  justify-content: center;
}
          /* change this later (below) */
nav input { 
  border-radius: 100%;
  height: 4em;
  width: 4em;
  /* background-color:black; */
}

.favorites-heart-nav {
  height: 4em;
  width: 4em;
}


/*  selector and second checkout */

.main-content {
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    height: 16em;
    /* margin-bottom: 2em; */
}

.main-content-top {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-bottom: -1em;
}

/* first div on left -- pizza display type */

.pizza-type-display-div {
  margin-top: 2em;
}

.pizza-type-display-div h3 {
  margin-bottom: .5em;
  margin-top: 0em;
}

.pizza-type-display-div h5 {
  margin: 0em;
}

/* pizza size selector */

.pizza-size-div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 3.5em;
}

.pizza-size-div h5 {
  display: flex;
  justify-content: center;
  order: -1;
  margin-bottom: 1.5em;
  margin-top: 0;
}

.pizza-size-div div {
    display: flex;   
}

.pizza-size-div button:not(:first-child){
  margin-left: .75em;
}

.pizza-size-div button {
    border: 1px solid white;
    border-radius: 50%;
    width: 2.5em;
    height: 2.5em;
    font-size: 1em;
}

/* bottom checkout  */

.bottom-checkout-div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 10em;
  margin-bottom: 1em;
}

.bottom-checkout-div p {
  font-size: 1em;
  color: white;
  background-color: black;
}

.bottom-checkout-div input {
  border-radius: 100%;
  background-color: limegreen;
  height: 4em;
  width: 4em;
}

/*  second row in main content */

.favorites-selector-div {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.previous-orders {
  margin-right: 4.4em;
}

.add-to-favorites {
  margin-left: -.5em;
}

.basil-container{
  display: flex;
  justify-content: space-between;
  margin-top: 7.5em;
}

/* pizza type selector */

.basil-background {
    height: 100px;
    opacity: .8;
}

.pizza-container-div {
    height: 20em;
    width: 40em;
    border-top-left-radius: 40em;
    border-top-right-radius: 40em;
    border: 1px solid white;
    display: flex;  
    justify-content: center;
    align-items: flex-end; 
    overflow: hidden;
    border-bottom: none;
}

.pizza-img-div {
    height: 18em;
    width: 36em;
    border-top-left-radius: 36em;
    border-top-right-radius: 36em;
    border: 1px solid white;
    position: absolute;
    bottom: auto;
    overflow: hidden;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    border-bottom: none;
}

.pizza-img-div img {
  height: auto;
  width: 88%;
}

.pizza-container-div ul {
  margin: 0px;
  padding: 0px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.pizza-container-div li {
    position: absolute;
    width: 20em;
    height: 11em;
    -webkit-transform-origin: 100% 100%;
    -moz-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
    list-style-type: none;
    /* overflow: hidden; */
    /* left: 50%; */
    /* top: 50%; */
    /* margin-top: -1.3em; */
    /* margin-left: -10em; */
    /* border: 1px dashed lightblue; */
}

.pizza-container-div li a {
    display: block;
    /* justify-content: center; */
    font-size: 16px;
    /* height: 4em; */
    /* width: 7.5em; */
    position: absolute;
    /* border-radius: 50%; */
    text-decoration: none;
    /* color: #fff; */
    /* padding-top: 1.8em; */
    text-align: center;
    transform: skew(-60deg) rotate(-75deg);
    /* transition: opacity 0.3s, color 0.3s; */
    overflow: hidden;
    margin-top: 82px;
    margin-left: 82px;
    color: white;
    /* border: 1px dashed pink; */
}

.pizza-container-div li:nth-of-type(1)  {
    transform: rotate(0deg) skew(60deg);
  }

.pizza-container-div li:nth-of-type(2)  {
    transform: rotate(30deg) skew(60deg);
  }
.pizza-container-div li:nth-of-type(3)  {
    transform: rotate(60deg) skew(60deg);
  }

.pizza-container-div li:nth-of-type(4)  {
    transform: rotate(90deg) skew(60deg);
  }
.pizza-container-div li:nth-of-type(5)  {
    transform: rotate(120deg) skew(60deg);
  }

.pizza-container-div li:nth-of-type(6)  {
    transform: rotate(150deg) skew(60deg);
  }     

  /*  -----media queries---- */

  @media only screen and (max-width: 775px) {

    body {
      width: 95%;
      max-height: 825px;
      border: 2px solid white;
      overflow: auto;
      min-width: 460px;
    }

    nav {
      border-bottom: white 1px solid;
      height: 3em;
      margin: 12px;
      padding: 5px 0px;
    }

    .expand-button {
      padding: 0;
    }

    /* main content div */

    .main-content {
      width: 90%;
      /* height: 7em; */
      margin-bottom: 0; 
    }

    .main-content-top {
      margin-bottom: 0px;
      display: flex;
      align-items: flex-end;
      min-width: 420px;
    }

    .pizza-type-display-div {
      font-size: .75em;
      margin-top: 1em;
      border-right: 1px dashed white;
      padding-right: 3%;
      max-width: 120px;
    }

    .pizza-size-div {
      margin-bottom: 0;
    }

    .pizza-size-div h5 {
      margin-bottom: 1em;
      font-size: .75em;
    }

    .pizza-size-div button {
      width: 2.5em;
      height: 2.5em;
      font-size: 1em;
    }

    .bottom-checkout-div {
      margin-bottom: 0em;
      width: 7em;
      border-left: 1px dashed white;
      padding: 2%;
    }

    .bottom-checkout-div p {
      margin: .5em .2em;
      font-size: .9em;
      width: 60%;
    }

    .favorites-selector-div {
      display: none;
    }

    .basil-container {
      margin-top: 1.5em;
    }


    /*  pizza selector div */
    

    .bottom-pizza-div {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }

    .pizza-container-div {
      height: 12em;
      width: 24em;
      border-top-left-radius: 24em;
      border-top-right-radius: 24em;
      border-bottom: 1px solid white;
    }

    .pizza-container-div ul {
      display: none;
    }

    .pizza-img-div {
      height: 11em;
      width: 22em;
      border-top-left-radius: 22em;
      border-top-right-radius: 22em;
    }

    .big-pizza-list {
      display: none;
    }

    .mobile-pizza-list {
      padding-left: 0px;
      width: 24em;
    }

    .mobile-pizza-list li {
      text-align: center;
      padding: 3px;
      list-style: none;
      /* border: 1px dashed white;
      border-radius: 15%; */
    }

    .mobile-pizza-list li:not(:first-child) {
      margin-top: 4px;
      padding-top: 4px;
      border-top: 1px dashed white;
    }

    .mobile-pizza-list li a {
      font-size: 1.25em;
      color: white;
      text-decoration: none;
    }

  }

  @media only screen and (min-width: 775px) { 
    .mobile-pizza-list {
      display: none;
    }
  }


