body {
    background-color: black;
    color: #fff;
    height: 100vh;
    display: flex;
    align-items: center; 
    justify-content: space-around;
    flex-direction: column;
}

button {
    background-color: #000;
    color: #fff;
    border: none;
}

/* top nav bar */

nav {
    display: flex;
    justify-content: space-between;
    width: 90%;
    height: 4em;
    margin: .75em;
}

.expand-button {
  text-transform: uppercase;
  font-size: .75em;
}

.nav-checkout-div {
  display: flex;
  justify-content: center;
}
          /* change this later (below) */
nav input { 
  border-radius: 100%;
  height: 4em;
  width: 4em;
  /* background-color:black; */
}

.favorites-heart-nav {
  height: 4em;
  width: 4em;
}


/*  selector and second checkout */

.main-content {
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    height: 12em;
    margin-bottom: 2em;
}

.main-content-top {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-bottom: -1em;
}

/* first div on left -- pizza display type */

.pizza-type-display-div {
  margin-top: 2em;
}

.pizza-type-display-div h3 {
  margin-bottom: .5em;
  margin-top: 0em;
}

.pizza-type-display-div h5 {
  margin: 0em;
}

/* pizza size selector */

.pizza-size-div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 3.5em;
}

.pizza-size-div h5 {
  display: flex;
  justify-content: center;
  order: -1;
  margin-bottom: 1.5em;
  margin-top: 0;
}

.pizza-size-div div {
    display: flex;   
}

.pizza-size-div button:not(:first-child){
  margin-left: .75em;
}

.pizza-size-div button {
    border: 1px solid white;
    border-radius: 50%;
    width: 2.5em;
    height: 2.5em;
}

/* bottom checkout  */

.bottom-checkout-div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 10em;
  margin-bottom: 1em;
}

.bottom-checkout-div p {
  font-size: 1em;
  color: white;
  background-color: black;
}

.bottom-checkout-div input {
  border-radius: 100%;
  background-color: limegreen;
  height: 4em;
  width: 4em;
}

/*  second row in main content */

.favorites-selector-div {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.previous-orders {
  margin-right: 4.4em;
}

.add-to-favorites {
  margin-left: -.5em;
}

/* pizza type selector */

.pizza-container-div {
    height: 20em;
    width: 40em;
    border-top-left-radius: 40em;
    border-top-right-radius: 40em;
    border: 1px solid white;
    display: flex;  
    justify-content: center;
    align-items: flex-end; 
    overflow: hidden;
    border-bottom: none;
}

.pizza-img-div {
    height: 18em;
    width: 36em;
    border-top-left-radius: 36em;
    border-top-right-radius: 36em;
    border: 1px solid white;
    position: absolute;
    bottom: auto;
    overflow: hidden;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    border-bottom: none;
}

.pizza-img-div img {
  height: auto;
  width: 88%;
}

.pizza-container-div ul {
  margin: 0px;
  padding: 0px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.pizza-container-div li {
    position: absolute;
    width: 20em;
    height: 11em;
    -webkit-transform-origin: 100% 100%;
    -moz-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
    list-style-type: none;
    /* overflow: hidden; */
    /* left: 50%; */
    /* top: 50%; */
    /* margin-top: -1.3em; */
    /* margin-left: -10em; */
    /* border: 1px dashed lightblue; */
}

.pizza-container-div li a {
    display: block;
    /* justify-content: center; */
    font-size: 16px;
    /* height: 4em; */
    /* width: 7.5em; */
    position: absolute;
    /* border-radius: 50%; */
    text-decoration: none;
    /* color: #fff; */
    /* padding-top: 1.8em; */
    text-align: center;
    transform: skew(-60deg) rotate(-75deg);
    /* transition: opacity 0.3s, color 0.3s; */
    overflow: hidden;
    margin-top: 29%;
    margin-left: 29%;
    color: white;
    /* border: 1px dashed pink; */
}

.pizza-container-div li:nth-of-type(1)  {
    transform: rotate(0deg) skew(60deg);
  }

.pizza-container-div li:nth-of-type(2)  {
    transform: rotate(30deg) skew(60deg);
  }
.pizza-container-div li:nth-of-type(3)  {
    transform: rotate(60deg) skew(60deg);
  }

.pizza-container-div li:nth-of-type(4)  {
    transform: rotate(90deg) skew(60deg);
  }
.pizza-container-div li:nth-of-type(5)  {
    transform: rotate(120deg) skew(60deg);
  }

.pizza-container-div li:nth-of-type(6)  {
    transform: rotate(150deg) skew(60deg);
  }     

  /* -webkit-transform: rotate(70deg) skew(50deg);
  -ms-transform: rotate(70deg) skew(50deg);
  -moz-transform: rotate(70deg) skew(50deg);
  transform: rotate(70deg) skew(50deg);  */


